ProcessDriver:{
  Verbosity: 2
  EnableFilter: false
  RandomAccess: false
  ProcessType: ["SegmentMask","SegmentMask","MaskImage","MaskImage","LArbysImage"]
  ProcessName: ["ShowerSegment","TrackSegment","ShowerImage","TrackImage","LArbysImage"]
  AnaFile: "reco_ana.root"
  IOManager: {
    Verbosity: 2
    Name:         "IOManager"
    IOMode:        2
    OutFileName:   ""
    InputFiles:    []
    InputDirs:     []
    StoreOnlyType: [4,3,3]
    StoreOnlyName: ["test","test_ctor","test_img"]
  }
  ProcessList: {
    ShowerSegment: {
      Verbosity: 0
      ROIProducer: ""
      ImageProducer:  "segment"
      OutputProducer: "shower_segment"
      ValidROI: ["Eminus","Gamma"]
      MaskValue: 0
      PlaneID: [0,1,2]
    }
    TrackSegment: {
      Verbosity: 0
      ROIProducer: ""
      ImageProducer:  "segment"
      OutputProducer: "track_segment"
      ValidROI: ["Muminus","Proton"]
      MaskValue: 0
      PlaneID: [0,1,2]
    }
    ShowerImage: {
      Verbosity: 0
      MinPIThreshold: 1
      MaskValue: 0
      OutputProducer: "shower_tpc"
      ReferenceProducer: "shower_segment"
      TargetProducer: "tpc"
    }
    TrackImage: {
      Verbosity: 0
      MinPIThreshold: 1
      MaskValue: 0
      OutputProducer: "track_tpc"
      ReferenceProducer: "track_segment"
      TargetProducer: "tpc"
    }
    # LArOpenCV driver
    LArbysImage: {
      Verbosity: 0
      Profile: true
      ADCImageProducer: "tpc"
      TrackImageProducer: "tpc"#"track_tpc"
      ShowerImageProducer: ""#"shower_tpc"
      ThruMuImageProducer: "thrumupixels"
      StopMuImageProducer: "stopmupixels"
      MaskThruMu: false
      MaskStopMu: false
      OutputImageProducer: "test"
      ROIProducer: ""
      UnionROI: false
      # Image Maker
      LArbysImageMaker:{
         Verbosity: 2
         Q2Gray: 2
         QMin: 0.1
         QMax: 500
      }
      # Pre-Processor
      PreProcess: false
      PreProcessor: {
         Verbosity: 2
	 PiThreshold: 10
	 MinContourSize: 4
	 AllowedNeighborSeparation: 10
	 BlurSize: 0
	 EdgePCABoxSize: 5
	 MinPCAOverallAngle: 10
	 MergeTracklets: true
	 MergeTrackletsSize: 6
	 MergeTrackletsDist: 2
      }
      # LArOpenCV configurations
      ImageClusterManager: {
        StoreAlgoData: false 
        Verbosity: 2
        Profile: true
        ClusterAlgoType: ["SuperClusterMaker","TrackVertexSeeds","TrackVertexEstimate","TrackVertexScan","VertexParticleClusterMaker","CombineVertex"]
        ClusterAlgoName: ["adc_superclustermaker","trackvertexseeds","trackvertexestimate","trackvertexscan","vertexparticleclustermaker","combinevertex"]
        StoreAlgoData: false
        StoreAlgoName: ["combinevertex","matchoverlap"]
	adc_superclustermaker : {
           Verbosity : 2
	   ImageSetID: 0
	   SuperClusterer: {}
        }
        trackvertexseeds: {
           ImageSetID: 1
           Verbosity : 2
           ClusterHIPMIP: {
              MinHIPClusterSize: 6
              MinHIPClusterPixels: 6
              MinMIPClusterSize: 10
              MinMIPClusterPixels: 20
              MIPLevels: [10,10,10]
              HIPLevels: [70,60,40]
           }
           DefectBreaker: {}
           PCACrossing: {}
        }
        trackvertexestimate: {
           Verbosity: 2
           ImageSetID: 1
           TrackVertexSeedsAlgoName: "trackvertexseeds"
           TrackVertexScan2D: {
              QPointSupression: 1
      	      LArPlaneGeo: {
            }
          }
        }
        trackvertexscan : {
           ImageSetID: 0
           Verbosity: 2
           VertexEstimateAlgo: "trackvertexestimate"
           LArPlaneGeo: {
             Verbosity: 2
	     XPlaneTickResolution: 12
           }
           Require3PlanesCharge: false
	   SearchRadiusSize: 5
           VertexScan3D: {
            Verbosity: 2
            dX: 2
            dY: 2
            dZ: 2
            SizeStep3D: 0.5
            SizeStep2D: 2
            MinRadius2D: 4
            MaxRadius2D: 10
            PIThreshold: 10
            AngleSupression: 0
            PCABoxSize: 2
	    ProhibitOneXs: true
           }
        }
	vertexparticleclustermaker: {
	   ImageSetID: 0
           Verbosity: 2
           TrackVertexEstimateAlgo: "trackvertexscan"
	   ShowerVertexEstimateAlgo: ""
           SuperClusterAlgo: "adc_superclustermaker"
           VertexParticleCluster: {
	        Verbosity: 2
                ThetaHi: 10
                ThetaLo: 10
                PIThreshold: 10
                ContourMinDist: 5
                UseHalfAngle : true
                RefinePolarCluster: true
                RefineCartesianCluster: true
                MaskFractionRadius: -1
                MaskMinRadius: 3
		RefineCartesianThickness: 6
		UseXsRadiusMinDist: true
		ResetXs: true
		ResetXsFixedRad: true
		ResetXsFixedRadSize: 6
		ResetXsRefineXs: false
		ResetXsRefineXsInnerR: 3
          }
        }
	combinevertex: {
           ImageSetID: 0
           Verbosity: 2
  	   TrackVertexEstimateAlgo: "trackvertexscan"
	   ShowerVertexEstimateAlgo: ""
	   ParticleClusterAlgo: "vertexparticleclustermaker"
        }
        matchoverlap: {
           ImageSetID: 0
           Verbosity: 2
           VertexAlgo: "combinevertex"
           ParticleClusterAlgo: "combinevertex"
	   VertexAlgoOffset: 0
	   ParticleClusterAlgoOffset: 1
        }
      }
    }
  }
}
