*.sh
*.txt
*.pkl
*.hdf
cosmic_in
cosmic_out
ncpizero_in
ncpizero_out
nue_in
nue_out
numu_in
numu_out
inclusive_muon_out
inclusive_muon_in
inclusive_elec_out
inclusive_elec_in
bnb_in
bnb_out
*.root
*.png