*.depend
*.png
*.jpg
*.jpeg
*.pcm
*cmake
*CMakeFiles
*Dict.cxx
*Dict.h
*Dict.cc
*Cint.cxx
*Cint.h
*Cint.cc
*.root
*.dat
!*CMakeLists.txt
*.txt
*.bin
*.root
build
SuperaCore/caffe.pb.h
SuperaCore/caffe.pb.cc
SuperaCore/caffe.pb.cxx
*~
