*.depend
*.png
*.jpg
*.jpeg
*.pcm
*cmake
*CMakeFiles
*Dict.cxx
*Dict.h
*Dict.cc
*Cint.cxx
*Cint.h
*Cint.cc
*.root
*.json
*.db
*.log
*.dat
!*CMakeLists.txt
*.txt
*.bin
*.root
build
Supera/APILArLite/Cropper.*
Supera/APILArLite/MCParticleTree.*
Supera/APILArLite/SuperaTypes.h
Supera/APILArLite/SuperaUtils.*
Supera/APILArLite/SuperaCore.*
Supera/APILArSoft/Cropper.*
Supera/APILArSoft/MCParticleTree.*
Supera/APILArSoft/SuperaTypes.h
Supera/APILArSoft/SuperaUtils.*
Supera/APILArSoft/SuperaCore.*
Supera/APILArSoft/supera.fcl
*~
*.pyc
.ipynb_checkpoints
*.ipynb
